# Initialization

In [1]:
from OLAP.market_activity_cube import MarketActivityCube

In [2]:
ma_cube = MarketActivityCube()
ma_cube.get_table()
ma_cube.create_cube()

                              name  share       date    open    high     low  \
id
14  A SPAC II Acquisition Corp. Rt  ASCBR 2022-12-09    0.06    0.06    0.06
30  A SPAC II Acquisition Corp. Rt  ASCBR 2023-01-18   0.068   0.068   0.068
42  A SPAC II Acquisition Corp. Rt  ASCBR 2023-02-27  0.1007  0.1075     0.1
56  A SPAC II Acquisition Corp. Rt  ASCBR 2023-04-12  0.0801  0.0801  0.0801
71  A SPAC II Acquisition Corp. Rt  ASCBR 2023-06-02  0.0888  0.0888  0.0825

     close   volume       SMA        RSI        OBV
id
14    0.06  19500.0  0.061683  43.550793   -84845.0
30   0.068    109.0  0.069008  50.901245    -1332.0
42  0.1075  21166.0  0.104617   54.53677   629194.0
56  0.0801   2645.0  0.092317  45.846398   537882.0
71   0.088  26623.0  0.108092  45.864801  1659511.0
<class 'atoti.table.Table'>

In [3]:
ma_cube.hierarchies

{('market_activity', 'id'): <atoti.hierarchy.Hierarchy object at 0x000002C4F8C85D50>, ('market_activity', 'share'): <atoti.hierarchy.Hierarchy object at 0x000002C4F8C85F50>, ('market_activity', 'name'): <atoti.hierarchy.Hierarchy object at 0x000002C4F8C86090>, ('market_activity', 'date'): <atoti.hierarchy.Hierarchy object at 0x000002C4F8C861D0>}

In [4]:
ma_cube.measures

{'contributors.COUNT': <atoti.measure.Measure object at 0x000002C4F8C9D150>, 'update.TIMESTAMP': <atoti.measure.Measure object at 0x000002C4F8C9D210>, 'high.SUM': <atoti.measure.Measure object at 0x000002C4F8C9D250>, 'high.MEAN': <atoti.measure.Measure object at 0x000002C4F8C9D290>, 'OBV.SUM': <atoti.measure.Measure object at 0x000002C4F8C9D2D0>, 'OBV.MEAN': <atoti.measure.Measure object at 0x000002C4F8C9D310>, 'SMA.SUM': <atoti.measure.Measure object at 0x000002C4F8C9D350>, 'SMA.MEAN': <atoti.measure.Measure object at 0x000002C4F8C9D390>, 'low.SUM': <atoti.measure.Measure object at 0x000002C4F8C9D3D0>, 'low.MEAN': <atoti.measure.Measure object at 0x000002C4F8C9D410>, 'open.SUM': <atoti.measure.Measure object at 0x000002C4F8C9D450>, 'open.MEAN': <atoti.measure.Measure object at 0x000002C4F8C9D490>, 'volume.SUM': <atoti.measure.Measure object at 0x000002C4F8C9D4D0>, 'volume.MEAN': <atoti.measure.Measure object at 0x000002C4F8C9D510>, 'close.SUM': <atoti.measure.Measure object at 0x000002C4F8C9D550>, 'close.MEAN': <atoti.measure.Measure object at 0x000002C4F8C9D590>, 'RSI.SUM': <atoti.measure.Measure object at 0x000002C4F8C9D5D0>, 'RSI.MEAN': <atoti.measure.Measure object at 0x000002C4F8C9D610>}

In [5]:
ma_cube.levels

# Analysis

In [8]:
# Number of market activities per contributor
ma_cube.cube.query(ma_cube.measures["contributors.COUNT"], levels=[ma_cube.levels["name"]])

                               contributors.COUNT
name
180 Life Sciences Corp. Wt                    250
1st Constitution Bancorp                      132
A SPAC II Acquisition Corp. Rt                134
Acco Brands Corp.                             252
GameStop Corp. Cl A                           252

In [9]:
# Sum of the volume per contributor
ma_cube.cube.query(ma_cube.measures["volume.SUM"], levels=[ma_cube.levels["name"]])

                                      volume.SUM
name
180 Life Sciences Corp. Wt         28,135,822.00
1st Constitution Bancorp              766,710.00
A SPAC II Acquisition Corp. Rt      7,034,811.00
Acco Brands Corp.                 149,464,932.00
GameStop Corp. Cl A             1,040,128,187.00